<div class="home-page-container col-12", style="margin-top: 150px;">
  <div class="row justify-content-center">
     <div class="superman hero col-12 p-4 mb-2" id="first-hero">
      <div class="d-flex justify-content-center" style="margin: 3vh;">
      <%= image_tag 'superman.jpg', width: 550, height: 750, crop: "fill", class: "hero-picture" %>
      <div class="text-body">
        <div class="bubble">
          <h1>Are you ready?</h1>
          <h1>Like, <span style="text-decoration: underline; color: black">REALLY</span> ready?</h1>
          <div class="bubble-arrow-left"></div>
        </div>
        <!-- <h1>You're not ready.</h1>
        <h1>Not <em>yet</em>, at least.</h1>
        <h1>But you will be.</h1>
        <h1>Stay tuned...</h1>
        <h1><em>~Looney tuned~</em></h1> -->
      </div>
      </div>
        <a href="#" class="scroll-down red">
          <div class="arrow-red">
            <span></span>
          </div>
        </a>
    </div>
    <div class="hero col-12 p-4 mb-2">
       <div class="d-flex justify-content-center" style="margin: 3vh;">
        <div class="text-body">
          <!-- <h1>Are you ready?</h1>
          <h1>Like, <span style="text-decoration: underline; color: black">REALLY</span> ready?</h1> -->
          <div class="bubble">
            <h1>Are you sure that's your answer?</h1>
            <h1>There is no going back.</h1>
            <div class="bubble-arrow-right"></div>
          </div>
          <!-- <h1>You're not ready.</h1>
          <h1>Not <em>yet</em>, at least.</h1> -->
          <!-- <h1>But you will be.</h1>
          <h1>Stay tuned...</h1>
          <h1><em>~Looney tuned~</em></h1> -->
        </div>
          <%= image_tag 'flash.jpg', width: 550, height: 750, crop: "fill", class: "hero-picture"%>
       </div>
      <a href="#" class="scroll-down red">
          <div class="arrow-red">
            <span></span>
          </div>
      </a>
    </div>
    <div class="hero col-12 p-4 mb-2">
       <div class="d-flex justify-content-center" style="margin: 3vh;">
      <%= image_tag 'joker_batman_fight.jpg', width: 550, height: 750, crop: "fill", class: "hero-picture"%>
      <div class="text-body">
        <!-- <h1>Are you ready?</h1>
        <h1>Like, <span style="text-decoration: underline; color: black">REALLY</span> ready?</h1> -->
        <div class="bubble">
          <h1>You FOOL, you're not ready.</h1>
          <h1>Not <em>yet</em>, at least.</h1>
          <div class="bubble-arrow-left"></div>
        </div>
        <!-- h1>But you will be.</h1>
        <h1>Stay tuned...</h1>
        <h1><em>~Looney tuned~</em></h1> -->
      </div>
    </div>
      <a href="#" class="scroll-down red">
          <div class="arrow-red">
            <span></span>
          </div>
      </a>
    </div>
    <div class="hero col-12 p-4 mb-2">
      <div class="d-flex justify-content-center" style="margin: 3vh;">
      <div class="text-body">
        <!-- <h1>Are you ready?</h1>
        <h1>Like, <span style="text-decoration: underline; color: black">REALLY</span> ready?</h1>
        <h1>You're not ready.</h1>
        <h1>Not <em>yet</em>, at least.</h1> -->
        <div class="bubble">
          <h1>But you will be.</h1>
          <h1>Trust me, you will.</h1>
          <div class="bubble-arrow-right"></div>
        </div>
        <!-- <h1>Stay tuned...</h1>
        <h1><em>~Looney tuned~</em></h1> -->
      </div>
      <%= image_tag 'harley_queen.jpg', width: 550, height: 750, crop: "fill", class: "hero-picture"%>
    </div>
      <a href="#" class="scroll-down red">
          <div class="arrow-red">
            <span></span>
          </div>
      </a>
    </div>
     <div class="hero col-12 p-4 mb-2">
      <div class="d-flex justify-content-center" style="margin: 3vh;">
      <%= image_tag 'joaquin_phoenix.jpg', width: 550, height: 750, crop: "fill", class: "hero-picture"%>
      <div class="text-body">
        <!-- <h1>Are you ready?</h1>
        <h1>Like, <span style="text-decoration: underline; color: black">REALLY</span> ready?</h1>
        <h1>You're not ready.</h1>
        <h1>Not <em>yet</em>, at least.</h1>
        <h1>But you will be.</h1> -->
        <div class="bubble">
          <h1>When? Stay tuned...</h1>
          <h1><em>~Looney tuned~</em></h1>
          <div class="bubble-arrow-left"></div>
        </div>
      </div>
    </div>
      <a href="#" class="scroll-down red" id="arrow-bottom">
          <div class="arrow-bottom">
            <span></span>
          </div>
      </a>
    </div>
  </div>

</div>
