<div class="home-page-container col-12", style="margin-top: 150px;">
  <div class="row justify-content-center">
     <div class="superman hero-right col-10 p-4 mb-2" id="first-hero">
      <div class="d-flex" style="margin: 3vh; background-color: white">
      <%= image_tag 'superman.jpg', width: 550, height: 750, crop: "fill"%>
      <div class="p-4">
        <h1>Are you ready?</h1>
        <h1>Really ready?</h1>
        <h1>You're not ready</h1>
        <h1>Not yet</h1>
        <h1>But you will be</h1>
        <h1>Stay tuned</h1>
        <h1>Looney tuned</h1>
      </div>
      </div>
        <a href="#" class="scroll-down red">
          <div class="arrow-red">
            <span></span>
          </div>
        </a>
    </div>
    <div class="hero-left col-10 p-4 mb-2 d-flex">
       <div class="" style="margin: 3vh; background-color: white">
          <%= image_tag 'flash.jpg', width: 550, height: 750, crop: "fill"%>
       </div>
      <a href="#" class="scroll-down red">
          <div class="arrow-red">
            <span></span>
          </div>
      </a>
    </div>
    <div class="hero-right col-10 p-4 mb-2">
       <div style="margin: 3vh; background-color: white">
      <%= image_tag 'joker_batman_fight.jpg', width: 550, height: 750, crop: "fill"%>
    </div>
      <a href="#" class="scroll-down red">
          <div class="arrow-red">
            <span></span>
          </div>
      </a>
    </div>
    <div class="hero-left col-10 p-4 mb-2 d-flex">
      <div class="" style="margin: 3vh; background-color: white">
      <%= image_tag 'harley_queen.jpg', width: 550, height: 750, crop: "fill"%>
    </div>
      <a href="#" class="scroll-down red">
          <div class="arrow-red">
            <span></span>
          </div>
      </a>
    </div>
     <div class="hero-right col-10 p-4 mb-2">
      <div class="" style="margin: 3vh; background-color: white">
      <%= image_tag 'joaquin_phoenix.jpg', width: 550, height: 750, crop: "fill"%>
    </div>
      <a href="#" class="scroll-down red" id="arrow-bottom">
          <div class="arrow-bottom">
            <span></span>
          </div>
      </a>
    </div>
  </div>

</div>
